footer {
    text-align: center;
    padding: 1rem;
    font-family: Roboto Mono;
    font-weight: 800;
    background-image: url(../../../fotos/fondofutbol.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: rgb(255, 255, 255); 
    padding: 20px;
    opacity: 0.8;
}