footer {
    text-align: center;
    padding: 1rem;
    font-family: Roboto Mono;
    font-weight: 200;
    background-image: url(../../../fotos/fondofutbol.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: solid black; 
    padding: 20px;
}